<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Frenchinnov.GloryCashier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <client/>
    </system.serviceModel>
  <userSettings>
    <POSSimpleCS.Properties.Settings>
      <setting name="AcceptPort" serializeAs="String">
        <value>55561</value>
      </setting>
      <setting name="DestinationAddress" serializeAs="String">
        <value>192.168.0.1</value>
      </setting>
      <setting name="FCCService" serializeAs="String">
        <value>http://192.168.0.25/axis2/services/BrueBoxService</value>
      </setting>
    </POSSimpleCS.Properties.Settings>
  </userSettings>
</configuration>
